body{
	text-align: center;
}
.titleh3{
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	font-size: 40px;
}

.windbox{
	margin: 0 auto;
	border-radius: 75px;
	border: 1px solid lightgrey;
	width: 100px;
	padding: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

#windspeed{
	padding: 0px;
	margin: 0px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	font-size: 60px;
}

.homebutton{
	border-radius: 60px;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	display: inline-block;
	margin-top: 45px;
	border: 1px solid lightgrey;
	text-decoration: none;
	color: #333333;
}

.homebutton:hover{
	background-color: #333333;
	color: lightgrey;
}